<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kimppakyyti</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div
      id="root"
      @touchstart="handleInteraction"
      @mousedown="handleInteraction"
      class="app"
      v-cloak
    >
      <div id="map"></div>

      <div
        class="draw-guide modal"
        :class="{ 'draw-guide--hidden': !drawGuide }"
      >
        <img src="./assets/finger-icon.png" class="draw-guide__hand" />
        <h2 class="draw-guide__label">Ympyröi minne voit heittää</h2>
      </div>

      <div
        class="modal notification"
        :class="{ 'modal--hidden': !notificationVisible }"
      >
        <i class="fas fa-info-circle text--blue"></i>
        {{notification}}
      </div>

      <div
        class="modal column-list"
        v-if="editRideModalVisible && selectedRide"
      >
        <div class="ride-details">
          <i class="far fa-clock"></i>
          {{ selectedRide.time | time }}
        </div>

        <div class="pair">
          <button
            @click="selectedRide.time -= 15 * 60 * 1000"
            :disabled="selectedRide.time <= 15 * 60 * 1000"
          >
            -15 min
          </button>
          <button @click="selectedRide.time += 15 * 60 * 1000">
            +15 min
          </button>
        </div>

        <div class="passengers" v-if="selectedRide.passengers.length > 0">
          <div v-for="passenger in selectedRide.passengers" class="passenger">
            <i class="fas fa-user"></i>
            <span>{{passenger}}</span>
          </div>
        </div>

        <button @click="removeRide(selectedRide)" class="text--red">
          <i class="fas fa-times"></i>
          Poista kyyti
        </button>
        <button @click="resetView" class="text--green">
          <i class="fas fa-check"></i>
          Sulje
        </button>
      </div>

      <div class="enroll-form modal" v-if="selectedRide && showPassengerModal">
        <div class="ride-details">
          <span class="icon-text">
            <i class="far fa-clock"></i> {{selectedRide.time | time}}
          </span>
          <span class="icon-text">
            <i class="fas fa-user-friends"></i>
            {{selectedRide.passengers.length}}/{{selectedRide.seatCount}}
          </span>
        </div>

        <div class="passenger-form">
          <input v-model="passengerName" placeholder="Nimi" />
          <button @click="resetView" class="text--red">
            <i class="fas fa-times"></i>
            Peruuta
          </button>
          <button
            @click="addPassenger"
            class="text--green"
            :disabled="passengerName.length < 2"
          >
            <i class="fas fa-check"></i>
            Vahvista
          </button>
        </div>
      </div>

      <div class="rides-list">
        <h1>Kyydit</h1>
        <div
          class="rides-container"
          :class="{ 'rides-container--selection': rideSelected }"
        >
          <div v-if="scheduledRides.length === 0" class="ride">
            Ei kyytejä tarjolla
          </div>
          <div
            v-for="ride in scheduledRides"
            @click="selectRide(ride)"
            class="ride"
            :class="{ 'ride--selected': ride.selected }"
          >
            <div class="ride__schedule">
              <span class="icon-text">
                <i class="far fa-clock"></i> {{ride.time | time}}
              </span>
              <span class="icon-text">
                <i class="fas fa-user-friends"></i>
                {{ride.passengers.length}}/{{ride.seatCount}}
              </span>
              <span class="text--grey"
                >{{ride.time | timeUntil | duration}}</span
              >
            </div>
            <div class="ride__driver">{{ride.driverName}}</div>
          </div>

          <button
            v-if="selectedRide"
            @click="showPassengerModal = true"
            class="text--green"
          >
            <i class="far fa-hand-paper"></i>
            Ilmoittaudu kyytiin
          </button>
          <button v-if="selectedRide" @click="showEditRideModal">
            <i class="fas fa-lock"></i>
            Muokkaa kyytiä
          </button>
        </div>
      </div>

      <div id="controls">
        <div
          class="ride-form"
          :class="{ 'ride-form--hidden': !rideForm.visible }"
        >
          <div class="ride-form__row">
            <span>
              Lähden noin
              <span class="bold">
                {{ rideForm.minutes | minutesToMs | duration }}
              </span>
              kuluttua ({{ departureTime | time }})
            </span>
            <button @click="decrementTime" :disabled="rideForm.minutes <= 15">
              -15 min
            </button>
            <button @click="incrementTime">+15 min</button>
          </div>
          <div class="ride-form__row">
            <span>
              Kyytiin mahtuu
              <span class="bold">{{ rideForm.seatCount }}</span>
            </span>

            <button @click="decrementPax" :disabled="rideForm.seatCount <= 1">
              -
            </button>
            <button @click="incrementPax">+</button>
          </div>
          <div class="ride-form__row">
            <span
              >Nimeni on:
              <span class="bold">
                {{rideForm.driverName}}
              </span>
            </span>
            <input
              type="text"
              class="name-input"
              @input="handleDriverNameChange"
              :value="rideForm.driverName"
              placeholder="Nimi"
            />
          </div>
        </div>

        <div class="cta-buttons">
          <button
            @click="startDrawing"
            v-if="!drawing && !recentFeature"
            class="text--green"
          >
            <i class="fas fa-car"></i>
            Tarjoa kyyti
          </button>

          <button
            @click="cancelAddRide"
            v-if="drawing || recentFeature"
            class="text--red"
          >
            <i class="fas fa-times"></i>
            Peruuta
          </button>

          <button
            @click="addRide"
            v-if="recentFeature"
            class="text--green"
            :disabled="rideForm.driverName.length < 2"
          >
            <i class="fas fa-check"></i>
            Vahvista
          </button>

          <button @click="resetView" v-if="!recentFeature && !drawing">
            <i class="fas fa-crosshairs"></i>
            Keskitä kartta
          </button>
        </div>
      </div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
